<div class="x">
    <h3 style="margin-left:50px;margin-bottom:15px;"><i class="fa-solid fa-face-smile" style="margin-right:10px; "></i>SB Admin
    </h3>
<hr>
<a routerLink="" style="display: block; margin-top:20px;margin-bottom:20px;"><i class="fa-solid fa-clock"style="margin-right:5px;"></i>Dashboard</a>
<hr>
<h6>INTERFACE</h6>
<a routerLink="/components" style="display: block; margin-top:20px;"><i class="fa-solid fa-gear"style="margin-right:5px;"></i>Components</a>
<a routerLink="/utilities" style="display: block; margin-top:20px;"><i class="fa-solid fa-screwdriver"style="margin-right:5px;"></i>Utilities</a>
<hr>
<h6>ADDONS</h6>
<a routerLink="/pages" style="display: block; margin-top:20px;"><i class="fa-solid fa-folder"style="margin-right:5px;"></i>Pages
</a>
<a routerLink="/chart" style="display: block; margin-top:20px;"><i class="fa-solid fa-chart-column"style="margin-right:5px;"></i>Charts </a>
<a routerLink="/tables" style="display: block; margin-top:20px;"><i class="fa-solid fa-table"style="margin-right:5px;"></i>Tables</a>
</div>
<!-- <router-outlet></router-outlet> -->