<!-- <div class="main">
    <div class="f"> -->
  
        <!--  -->
       <!-- <div class="z">
            <app-sidebar></app-sidebar>
        </div>
        <div class="y"> 
            <app-searchbar></app-searchbar>
         </div> 
        -->
        <div class="container">
            <div class="sidebar">
           <app-sidebar></app-sidebar>
            </div>
            
            <div class="main-content">
           
              <div class="new-component">
                <app-searchbar></app-searchbar>
             <router-outlet></router-outlet>
              </div>
            </div>
          </div>
          
    <!-- </div>
   >
</div> -->
